<!-- <ion-header [translucent]="true">
  <ion-toolbar  >
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <div id="container">
      <h1>Seja bem-vindo</h1>
      <p>Coloque suas atividade em dia com o app task manager</p>
      <a class="btn btn-info mt-2" [routerLink]="['/tasks']"  >Ver as tasks</a>
      <img src="assets/Computer.png"/>

      <div class="link">
        <p>Registre-se gratuitamente</p>
        <a class="btn btn-primary mt-2"  [routerLink]="['/registrar']" >Registrar</a>
        <br>
        <br>
        <p>Caso já tenha uma conta</p>
        <a [routerLink]="['/login']" >Fazer login</a>

      </div>
    </div>
 
</ion-content>
