ion-content  {
  --background: linear-gradient(30deg, rgb(2, 2, 7), rgb(2, 0, 19) 90%);
  // --background: url('/assets/Computer.png')  100% 100% no-repeat;
}

.header{
  margin: 20px 0;
  color: #fff;
}
h2{
  color: #fff;
}
