<ion-content>
  <div class="container">
    <div class="header">
      <a [routerLink]="['/tasks']">volta</a>
      
    </div>
  
    <div class="card bg-dark text-white">
      
      <div class="card-body ">
        <h3 class="card-title">as vezes é bom viajar</h3>
        <h6 class="card-text">realmente é bom, mas já tentou balsla adn</h6>
        <!-- <p class="btn-aberto" *ngIf="t.done == false">Task aberta</p>  -->
        <p class="btn-fechado">Task fechada</p>
        <!-- <p class="text-danger" *ngIf="t.done == false && t.islate == true">Atrasado - {{t.deadline}}</p> -->
        <!-- <p class="text-success" *ngIf="t.islate == false && t.done == false">Em dia - <i style="font-size: 12px;">{{t.deadline}}</i></p> -->
        <p class="card-text"><small class="text-muted">Útima atualização - 27/01/2021 - 13:10:58</small></p>
      </div>
    </div>
  </div>
</ion-content>
