.btn-aberto{
  background: rgb(2, 145, 57);
  color: #fff;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
  text-align: center;
}
.btn-fechado{
  background: rgb(228, 35, 51);
  color: #fff;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
  text-align: center;
}